 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body{
     height: 100vh;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
     font-family: sans-serif;
     color: white;
 }
 #menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
		display: inline;
}
button{
    background-color: transparent;
    border-color: white;
    padding: 10px 5px;
    border-width: 2px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin: 2px;
}
button:hover {
    background-color: white;
    color: rgb(47,150,163);
}

 .location,
 .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .temperature {
     flex-direction: column;
 }

 .degree-section {
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .degree-section span {
     margin: 10px;
     font-size: 30px;
 }

 .degree-section h2 {
    font-size: 40px;
 }